<div>
    <mat-toolbar color="primary">
      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
  
      <a mat-button class="companyName" routerLink="/">
        <span>Restore The Street</span>
      </a>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true" class="margin-rght-space">
         <!-- <a mat-button routerLink="/card">Articles</a>
        <a mat-button routerLink="/about">About</a>
        <a mat-button routerLink="/books">Books</a> 
        <a mat-button routerLink="/video">Video</a>
        <a mat-button routerLink="/podcast">Podcast</a>  -->

        <a mat-button href="/card">Articles</a>
        <a mat-button href="/about">About</a>
        <a mat-button href="/books">Books</a> 
        <a mat-button href="/video">Video</a>
        <a mat-button href="/podcast">Podcast</a> 

      </div>
    </mat-toolbar>
    <mat-sidenav-container fxFlexFill class="example-container">
      <mat-sidenav
        color="primary"
        #sidenav
        fxLayout="column"
        mode="over"
        opened="false"
        fxHide.gt-sm="true" >
        <div fxLayout="column" class="sidenavfix">
          <!-- <a mat-button routerLink="/card">Articles</a>
          <a mat-button routerLink="/about">About</a>
          <a mat-button routerLink="/books">Books</a>
          <a mat-button routerLink="/video">Video</a>
          <a mat-button routerLink="/podcast">Podcast</a>  -->


          <a mat-button href="/card">Articles</a>
          <a mat-button href="/about">About</a>
          <a mat-button href="/books">Books</a> 
          <a mat-button href="/video">Video</a>
          <a mat-button href="/podcast">Podcast</a> 
        </div>
        
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  