.companyName{
    /* font-size: 150%; */
}
/* commented for header height */
/* 
.mat-toolbar{
  height: 7vh;
} */
.margin-rght-space{
  margin-right:3%;
}
div {
    overflow: inherit;
}

.mat-sidenav-container{
  /* background-color: lightskyblue; */
  min-height: 86vh !important;
}

a{
    text-decoration: none;
    /* font-size: 110%; */
    white-space: normal;
}

button{
    /* font-size: 110%; */
    min-width: min-content;
}

.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .mat-sidenav-content{
      /* font-size: 200%; */
      text-align: center;
  }

  .sidenavfix{
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    overflow-y:hidden;

  }


  /* custom override..need to be fixed later */
  .mat-toolbar.mat-primary {
    background: #3f51b5;
    color: #fff;
}